.activities-main-div{
    margin: 0 0 0 0;
    width: 24vw;
    height: 52vh;
    background-color: rgba(11,50,55,0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}
.test {
    background-color: red;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.activities-main-div p{
    margin: 0;
    padding-top: 8px;
    text-align: center;
    font-family: "Barlow Condensed";
    font-size: 32px;
    // font-weight: 0;
    color: white;
}

.activities__list{
    max-height: 50vh;
    width: 93%;
    height: 80%;
    border-radius: 15px;
    background-color: rgba(12,41,41,0.3);
    // margin-bottom: 13px;
    overflow-y: auto;
    overflow-x: auto;
}

.activities__list-items {
    // height: 10vh;
    height: 50vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow-y: auto;
    overflow-x: hidden;
}


.activities__list-items-item p{
    font-family: "Oxygen";
    font-size: 16px;
    text-align: left;
    width: 100%;
}

.activities__list-items-item{
    width: 100%;
}

.activities__empty-list p{
    font-family: "Oxygen";
    font-size: 14px;
    text-align: center;
    margin: 0px 2px 0 2px;
}

.activities__empty-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.no-activity__add-button img{
    width: 7vh;
    height: 7vh;
    margin-bottom: 20px;
    transition: 0.2s;
    border-radius: 50%;
    cursor: pointer;
}

.no-activity__add-button img:hover{
    width: 8vh;
    height: 8vh;
    box-shadow: 0 5px 5px 1px darken(rgba(12,41,41,0.3), 0.5);
}

// .css-nf6uuc-MuiPickerStaticWrapper-root{
//     width: 40vh;
//     height: 40vh;
// }

.css-j7qwjs{
    color: white;
}

.secondary-activity-modal{
    background-color: rgba(7, 32, 66, 0.95);
    width: 20vw;
    height: 20vh;
    border: none;
    border-radius: 35px;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.third-activity-modal{
    background-color: rgba(27, 82, 103, 0.7);
    width: 30vw;
    height: 35vh;
    border: none;
    border-radius: 35px;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.activity-modal-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-around;
}