.login-page{
    width: 100vw;
    height: 100vh;
    background-image: $login-page-gradiant;
}

@keyframes inputFocus {
    0%{
        width:280px;
        height:18px;
    }
    100%{
        width:300px;
        height: 24px;
    }
}

#loginpage {
    width: 100vw;
    height: 100vh;
    position: fixed;
}

#loginpage-animation{
    width: 100vw;
    height: 100vh;
}

.login-wrapper{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
}

.login-page__header--nonogram{
    margin-top: 5vh;
    color: white;
    font-family: "Barlow Condensed", "Sans";
    font-size: 72px;
    text-shadow: 0 0 0.15em #abe1ee;
}

.login-page__login-section{
    margin-top: 13vh;
    opacity: 0;
    scale: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vh;
    height: 50vh;
}

.login-page__login-section__clicks{
    display: grid;
    grid-template-areas: "a b""c d";
    column-gap: 14vw;
    margin-top: 20px;
    color: white;
    font-family: 'Barlow Condensed';
}

.register{
    grid-area: a;
}

.forgot{
    grid-area: b;
}

.guest{
    grid-area: c;
}

.login-page__login-section__form{
    display:flex;
}

.login_form-inputs{
    // height: 120px;
    // height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5vw;
}

.login_form-inputs__input{
    border: none;
    padding: 0 0 1px 6px;
    outline: none;
    width: 280px;
    height: 18px;
    transition: 0.4s;
}

.login_form-inputs__input:focus{
    outline: none;
    width: 300px;
    height: 22px;
}


.login-page__login-section__button{
    // margin-top: 55px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    outline: none;
    background-color: rgba(73, 29, 102, 0);
    border: 2px solid rgb(51, 120, 160);
    color: white;
    font-family: "Barlow Condensed";
    font-size: 26px;
    transition: .4s;
    cursor: pointer;
}

.login-page__login-section__button:hover{
    width: 120px;
    height: 120px;
    background-color: rgba(73, 29, 102, .05);
    font-size: 31px;
    letter-spacing: .7px;
}

.login-page__login-section__clicks p{
    cursor:pointer;
    font-size: 16px;
    transition: 0.4s;
    color: #CFEEFF;
}

.login-page__login-section__clicks p:hover{
    letter-spacing: 0.5px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    text-shadow: #040c2c 0px 3px 2px;
}

